.g6-component-topbar-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.g6-component-topbar-item {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  line-height: 30px;
}

.g6-component-topbar-item > span {
  font-size: 14px;
  margin-right: 10px;
}

.ant-switch-small {
  width: 32px;
  background-color: #9ca2ac !important;
}

.ant-switch-checked {
  background-color: #4096ff !important;
}
