.g6-component-topbar-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-left-width: 1px;
}

.g6-component-topbar-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  line-height: 30px;
}

.g6-component-topbar-item > span {
  font-size: 14px;
  margin-right: 10px;
}

.ant-switch-small {
  width: 32px;
}
