.layout-sidebar-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout-sidebar-edit {
  padding: 10px;
}

.layout-sidebar-header .anticon {
  vertical-align: baseline;
}

.layout-sidebar-header .anticon-setting svg {
  margin-top: -3px;
}

.ant-btn-primary {
  background-color: #1677ff !important;
}
